<img src=<%= book.image_url %>>
<h3><%= book.title %></h3>
<h5><%= book.author %></h5>
<p><%= book.descript %></p>
<button type="button" id="<%= book.isbn %>">modify details</button>

<script src="../../../public/js/bookDeets.js"></script>