<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head.ejs') %>
<body>
    <%- include('../../layout/header.ejs') %>
    <main>
        <h3>search results</h3>
        <section>
            <% for (var i in books) { %>
                <li>
                    <%- include('../books/detail.ejs', {book: books[i]}) %>
                    <button type="button" id="id<%= i %>">add to db</button>
                </li>

                <%- include('../../layout/add.ejs', {book: books[i], i: i}) %>
            <% }; %>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
</body>
</html>
