<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[ book app ] my bookshelf</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="icon" href="https://www.freeiconspng.com/uploads/book-icon--icon-search-engine-6.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1>[ book app ]</h1>
    </header>
    <main>
        <h3>My bookshelf</h3>
        <section>
            <% books.forEach(ele => { %>
                <li>
                    <img src=<%= ele.image %>>
                    <h3><%= ele.title %></h3>
                    <h5><%= ele.author %></h5>
                    <p><%= ele.descript %></p>

                    <a href="/books/<%= ele.id %>">View Details</a>
                    </form>
                </li>
            
            <% }); %>
        </section>
        
    </main>
</body>
</html>